{% load i18n %}
{% load static %}
{% load i18n %}
<footer
  class="bg-background-light/90 dark:bg-background-dark/90 backdrop-blur-sm border-t border-gray-200 dark:border-gray-700"
>
  <div class="copy-rights">
    <p>© 2024 {% trans "Jesus Molinar Alcaraz" %}. {% trans "All Rights Reserved." %}</p>
    <p class="footer-disclaimer">
      {% trans "Disclaimer: The information on this website is for general information" %}
      {% trans "purposes only. Nothing on this site should be taken as legal advice for" %}
      {% trans "any individual case or situation." %}
    </p>
  </div>
</footer>
